---
import Proyects from '@/components/Projects'
import About from '@components/About'
import AboutMe from '@components/AboutMe'
import Footer from '@components/Footer'
import Navbar from '@components/Navbar'
import WorkExperience from '@components/WorkExperience'
import '@styles/globals.css'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Portfolio de Amyssyko'>
	<header class='flex h-10 items-center justify-between gap-x-4 pt-4'>
		<Navbar client:idle />
	</header>
	<main class='grid overflow-x-clip px-8 md:px-40 lg:px-64 2xl:px-[380px]'>
		<About />
		<WorkExperience />
		<Proyects client:visible />
		<AboutMe />
	</main>
	<Footer client:only='react' />
</Layout>
