---
import '@styles/globals.css'
import Layout from '../layouts/Layout.astro'
import Navbar from '@components/Navbar'
import { ModeToggle } from '@components/ModeToggle'
import About from '@components/About'
import WorkExperience from '@components/WorkExperience'
import Proyects from '@components/Proyects'
import AboutMe from '@components/AboutMe'
import Footer from '@components/Footer'
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme')
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ?
				'dark'
			:	'light'
	}
	const isDark = getThemePreference() === 'dark'
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark')
			localStorage.setItem('theme', isDark ? 'dark' : 'light')
		})
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ['class']
		})
	}
</script>

<Layout title='Portfolio de Amyssyko'>
	<header class='flex justify-between items-center px-8 pt-4 h-10 gap-x-4'>
		<Navbar client:visible />
		<ModeToggle client:visible />
	</header>

	<main class='px-8 md:px-40 lg:px-64 2xl:px-[380px]'>
		<About client:visible />
		<br />
		<WorkExperience client:visible />
		<br />
		<Proyects client:visible />
		<br />
		<AboutMe client:visible />
	</main>
	<Footer client:only='react' />
</Layout>
