---
type Props = {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<title>{title}</title>
		<meta
			name='description'
			content='Personal portfolio de desarrollador web y móvil.'
		/>
		<link
			rel='canonical'
			arial-label='Canonical URL'
			href='https://github/Amyssyko'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			property='og:title'
			content='Portfolio de Amyssyko'
		/>
		<meta
			property='og:description'
			content='Personal portfolio de desarrollador web y móvil.'
		/>
		<meta
			property='og:image'
			content='https://avatars.githubusercontent.com/u/69484342?v=4'
		/>
		<meta
			property='og:url'
			content='https://github/Amyssyko'
		/>
		<meta
			property='og:type'
			content='website'
		/>
		<meta
			name='twitter:card'
			content='summary_large_image'
		/>
		<meta
			name='twitter:site'
			content='@Amyssyko'
		/>
		<meta
			name='twitter:creator'
			content='@Amyssyko'
		/>
		<meta
			name='twitter:title'
			content='Portfolio de Amyssyko'
		/>
		<meta
			name='twitter:description'
			content='Personal portfolio de desarrollador web y móvil.'
		/>
		<meta
			name='twitter:url'
			content='https://x.com/Amyssyko'
		/>
		<meta
			name='twitter:domain'
			content='https://x.com'
		/>
		<script is:inline type='application/ld+json'>
			{
				"@context": "https://schema.org",
				"@type": "NewsArticle",
				"headline": "Article headline",
				"image": ["https://avatars.githubusercontent.com/u/69484342?v=4"],
				"datePublished": "+ date variable +",

				"author": [
					{
						"@type": "Person",
						"name": "Amyssyko",
						"url": "https://github/Amyssyko"
					}
				],
				"publisher": {
					"@type": "Organization",
					"name": "Amyssyko",
					"logo": {
						"@type": "ImageObject",
						"url": "https://avatars.githubusercontent.com/u/69484342?v=4"
					}
				}
			}
		</script>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
	</head>
	<body class='gap-y-20 grid grid-rows-[auto_1fr_auto] h-dvh'>
		<div
			class='top-0 bottom-0 z-[-2] absolute bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))] dark:bg-[radial-gradient(ellipse_40%_80%_at_60%_-10%,rgba(120,119,198,0.3),rgba(255,255,255,0))] w-full h-dvh'>
		</div>
		<slot />
	</body>
</html>
